{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BandMonitor</title>
    <script src="{% static "jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "bootstrap-3.3.7/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "echarts.min.js" %}"></script>
    <link href="{% static "bootstrap-3.3.7/dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-3.3.7/dist/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-3.3.7/dist/css/theme.css" %}" rel="stylesheet">
</head>
<body style="font-family: 微软雅黑;">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/monitor/index/">Band Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/monitor/index/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Monitor</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="/monitor/warn/">WarnSetting</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a class="btn" href="/monitor/index/"><i class="glyphicon glyphicon-share-alt" style="transform: rotateY(180deg); margin-right: 20px;"></i>返回</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="row" id="switch">

        {% ifequal code  -1 %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>警告！</strong>{{ msg }}
            </div>
        {% endifequal %}
        <div id="main" style="width: 100%;height:300px;"></div>
        <div class="col-md-3" id="packstat">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        packstat监控
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>进程状态：</b>
                        {% ifequal packstat.stats '1' %}
                            <span style="color: #4cae4c" id="packstat_stats">正常</span>
                        {% else %}
                            <span style="color: #b92c28" id="packstat_stats">异常</span>
                        {% endifequal %}
                    </p>
                    <p><b>更新时间：</b><span id="packstat_updateTime">{{ packstat.updateTime | date:"Y-m-d H:i:s" }}</span></p>
                    <p style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap; ">
                        <b>进程监控：</b><span id="packstat_value">{{ packstat.value }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="packfilter">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        packfilter监控
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>进程状态：</b>
                        {% ifequal packfilter.stats '1' %}
                            <span style="color: #4cae4c" id="packfilter_stats">正常</span>
                        {% else %}
                            <span style="color: #b92c28" id="packfilter_stats">异常</span>
                        {% endifequal %}
                    </p>
                    <p><b>更新时间：</b><span id="packfilter_updateTime">{{ packfilter.updateTime | date:"Y-m-d H:i:s" }}</span></p>
                    <p style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap; ">
                        <b>进程监控：</b>
                        <span id="packfilter_value">{{ packfilter.value }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="BandHolder">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        调度进程监控
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>进程状态：</b>
                        {% ifequal BandHolder.stats '1' %}
                            <span style="color: #4cae4c" id="BandHolder_stats">正常</span>
                        {% else %}
                            <span style="color: #b92c28" id="BandHolder_stats">异常</span>
                        {% endifequal %}
                    </p>
                    <p><b>更新时间：</b><span id="BandHolder_updateTime">{{ BandHolder.updateTime | date:"Y-m-d H:i:s" }}</span></p>
                    <p style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap; " data-toggle="tooltip" title="{{ BandHolder.value }}" id="BandHolder_tooltip">
                        <b>进程监控：</b>
                        <span id="BandHolder_value">{{ BandHolder.value }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="band">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        流量监控
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>进程状态：</b>
                        {% if band.stats == '1' %}
                            <span style="color: #4cae4c" id="band_stats">流量获取正常</span>
                        {% elif band.stats == '2' %}
                            <span style="color: #b96009" id="band_stats">流量持续超限</span>
                        {% else %}
                            <span style="color: #b92c28" id="band_stats">流量获取异常</span>
                        {% endif %}
                    </p>
                    <p><b>更新时间：</b><span id="band_updateTime">{{ band.updateTime | date:"Y-m-d H:i:s" }}</span></p>
                    <p style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap; ">
                        <b>流量大小：</b>
                        <span id="band_value">{{ band.value }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="packconfig">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        采集程序配置（PACK）
                    </h3>
                </div>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>配置项</th>
                        <th>配置内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>镜像网卡</td><td>{{ config.NetCard }}</td></tr>
                    <tr><td>过滤IP</td><td>{{ config.Filter_IP }}</td></tr>
                    <tr><td>过滤掩码</td><td>{{ config.Filter_Mask }}</td></tr>
                    <tr><td>采集IP交换机</td><td>{{ config.Switch_Host }}</td></tr>
                    <tr><td>采集IP端口</td><td>{{ config.Index }}</td></tr>
                    <tr><td>ACL策略绑定端口个数</td><td>{{ config.Band_Ratio}}</td></tr>
                    {% ifequal config.Telnet_Command '' %}
                    <tr><td>telnet命令</td><td>system-view</td></tr>
                    {% else %}
                    <tr><td>telnet命令</td><td>{{ config.Telnet_Command}}</td></tr>
                    {% endifequal %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="bandconfig">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        调度程序配置（BAND）
                    </h3>
                </div>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>配置项</th>
                        <th>配置内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>流量上限</td><td>{{ config.Band_HighLimit }}</td></tr>
                    <tr><td>流量下限</td><td>{{ config.Band_LowLimit }}</td></tr>
                    <tr><td>调度交换机</td><td>{{ config.Band_Hostname }}</td></tr>
                    <tr><td>调度端口</td><td>{{ config.Band_Interfaces }}</td></tr>
                    <tr><td>调度口个数</td><td>{{ config.Band_UplinkNum }}</td></tr>
                    <tr>
                        <td>调度规则</td>
                        <td>
                            {% ifequal config.Band_Rule 'true' %}
                                低于下限执行acl，超过上限取消acl
                            {% else %}
                                超过上限执行acl，低于下限取消acl
                            {% endifequal %}
                        </td>
                    </tr>
                    <tr><td>策略组</td><td>{{ config.Band_StrategyGroup }}</td></tr>
                    <tr><td>Telnet交换机</td><td>{{ config.Band_TelnetHostname }}</td></tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    ACL列表
                </div>
                <table class="table table-hover table-bordered table-striped" id="acllist">
                    <thead>
                    <tr>
                        <th>Seq</th>
                        <th>IP</th>
                        <th>UpdateTime</th>
                    </tr>
                    </thead>
                    <tbody id="table_acl">
                    {% for key,value in acllist.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value.ip }}</td>
                            <td>{{ value.updateTime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    RULE列表
                </div>
                <table class="table table-hover table-bordered table-striped" id="rulelist">
                    <thead>
                    <tr>
                        <th>Seq</th>
                        <th>IP</th>
                        <th>UpdateTime</th>
                    </tr>
                    </thead>
                    <tbody id="table_rule">
                    {% for key,value in rulelist.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value.ip }}</td>
                            <td>{{ value.updateTime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {#        <button onclick="cron()">定时任务</button>#}
        {#        <p id="test">{{ config.Filter_IP }}</p>#}
    </div>
</div>
</body>
<script>
    var test = "这是一个测试";
    var j = 0;

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        var strMin = date.getMinutes();
        var strSec = date.getSeconds();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        if (strMin >= 0 && strMin <= 9) {
            strMin = "0" + strMin;
        }
        if (strSec >= 0 && strSec <= 9) {
            strSec = "0" + strSec;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + strMin
            + seperator2 + strSec;
        return currentdate;
    }

    var myChart = echarts.init(document.getElementById('main'));
    var data = [];
    option = {
        title: {
            text: '{{ switch_name }}调度'
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                params = params[0];
                var date = new Date(params.name);
                return params.value[1];
            },
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'value',
        },
        yAxis: {
            type: 'value',
        },
        series: [{
            name: '模拟数据',
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            //stack: '总量',
            data: data,
            smooth: true
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    setInterval(function (ret) {
        console.log(j++);
        var id = getQueryString('id');
        console.log(id);
        $.ajax({
            url: '/monitor/getMonitorData',
            data: {
                id: id
            },
            method: 'GET',
            success:function (ret) {
                console.log(ret);
                var json_result = JSON.parse(ret);
                console.log(json_result);

                //if (j%2 == 0){
                //    json_result.code = 0;
                //} else {
                //    json_result.code = -1;
                //}

                if(json_result.code == -1){
                    $('.alert-danger').remove();
                    var text = '<div class="alert alert-danger">\n' +
                        '                <a href="#" class="close" data-dismiss="alert">\n' +
                        '                    &times;\n' +
                        '                </a>\n' +
                        '                <strong>警告！</strong>连接数据库失败或无法获取到数据\n' +
                        '            </div>';
                    $('#switch').prepend(text);
                    $('#packstat_stats').text('异常');
                    $('#packstat_stats').css('color', '#b92c28');
                    $('#packstat_updateTime').text('');
                    $('#packstat_value').text('');
                    $('#packfilter_stats').text('异常');
                    $('#packfilter_stats').css('color', '#b92c28');
                    $('#packfilter_updateTime').text('');
                    $('#packfilter_value').text('');
                    $('#BandHolder_stats').text('异常');
                    $('#BandHolder_stats').css('color', '#b92c28');
                    $('#BandHolder_updateTime').text('');
                    $('#BandHolder_value').text('');
                    $('#band_stats').text('流量获取异常');
                    $('#band_stats').css('color', '#b92c28');
                    $('#band_updateTime').text('');
                    $('#band_value').text('');
                }else {
                    $('.alert-danger').remove();
                    if (json_result.packstat.stats == '1'){//packstat状态正常
                        $('#packstat_stats').text('正常');
                        $('#packstat_stats').css('color', '#4cae4c');
                        $('#packstat_updateTime').text(json_result.packstat.updateTime);
                        $('#packstat_value').text(json_result.packstat.value);
                    } else {//packstat状态异常
                        $('#packstat_stats').text('异常');
                        $('#packstat_stats').css('color', '#b92c28');
                        $('#packstat_updateTime').text();
                        $('#packstat_value').text();
                    }
                    if (json_result.packfilter.stats == '1'){//packfilter状态正常
                        $('#packfilter_stats').text('正常');
                        $('#packfilter_stats').css('color', '#4cae4c');
                        $('#packfilter_updateTime').text(json_result.packfilter.updateTime);
                        $('#packfilter_value').text(json_result.packfilter.value);
                    } else {//packfilter状态异常
                        $('#packfilter_stats').text('异常');
                        $('#packfilter_stats').css('color', '#b92c28');
                        $('#packfilter_updateTime').text('');
                        $('#packfilter_value').text('');
                    }
                    if (json_result.BandHolder.stats == '1'){//BandHolder状态正常
                        $('#BandHolder_stats').text('正常');
                        $('#BandHolder_stats').css('color', '#4cae4c');
                        $('#BandHolder_updateTime').text(json_result.BandHolder.updateTime);
                        $('#BandHolder_value').text(json_result.BandHolder.value);
                    } else {//BandHolder状态异常
                        $('#BandHolder_stats').text('异常');
                        $('#BandHolder_stats').css('color', '#b92c28');
                        $('#BandHolder_updateTime').text('');
                        $('#BandHolder_value').text('');
                    }
                    if (json_result.band.stats == '1') {//band状态正常
                        $('#band_stats').text('流量获取正常');
                        $('#band_stats').css('color', '#4cae4c');
                        $('#band_updateTime').text(json_result.band.updateTime);
                        $('#band_value').text(json_result.band.value);
                    }else if (json_result.band.stats == '2') {//band状态正常
                        $('#band_stats').text('流量持续超限');
                        $('#band_stats').css('color', '#b96009');
                        $('#band_updateTime').text(json_result.band.updateTime);
                        $('#band_value').text(json_result.band.value);
                    } else {
                        $('#band_stats').text('流量获取异常');
                        $('#band_stats').css('color', '#b92c28');
                        $('#band_updateTime').text('');
                        $('#band_value').text('');
                    }

                    {#console.log('111111111');#}
                    //动态修改acllist和rulelist数据
                    $("#table_acl").empty();
                    $("#table_rule").empty();

                    for(item in json_result.acllist){
                        console.log(item);
                        console.log(json_result.acllist[item].ip);
                        console.log(json_result.acllist[item].updateTime);
                        var acl_text = "<tr>\n" +
                            "           <td>"+ item +"</td>\n" +
                            "           <td>"+ json_result.acllist[item].ip +"</td>\n" +
                            "           <td>"+ json_result.acllist[item].updateTime +"</td>\n" +
                            "           </tr>";
                        $("#table_acl").append(acl_text);
                    }

                    for(item in json_result.rulelist){
                        console.log(item);
                        console.log(json_result.rulelist[item].ip);
                        console.log(json_result.rulelist[item].updateTime);
                        var rule_text = "<tr>\n" +
                            "           <td>"+ item +"</td>\n" +
                            "           <td>"+ json_result.rulelist[item].ip +"</td>\n" +
                            "           <td>"+ json_result.rulelist[item].updateTime +"</td>\n" +
                            "           </tr>";
                        $("#table_rule").append(rule_text);
                    }

                    //动态修改echart数据
                    {#var time = getNowFormatDate();#}
                    var time = json_result.band.updateTime;
                    var value = json_result.band.value;
                    j++;
                    var item = {
                        name: time,
                        value: [
                            time,
                            value
                        ]
                    };
                    if(data.length>299){
                        data.shift();
                        data.push(item);
                    }else{
                        data.push(item);
                    }
                    console.log(data);

                    myChart.setOption({
                        series: [{
                            name: '模拟数据',
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                            //stack: '总量',
                            data: data
                        }]
                    });
                    myChart.setOption({
                        xAxis: [{
                            type: 'time',
                            splitLine: {
                                show: false
                            },
                            min: data[0].name,
                            max: data[data.length-1].name
                        }]
                    });
                }
            }
        });
    }, 5000);
</script>
</html>